@import '_variables'

.project
  display: flex
  flex-direction: row
  margin-bottom: 64px

  &:nth-child(even)
    flex-direction: row-reverse

    .project-info
      margin-right: 0
      margin-left: $padding-horizontal

  .project-info
    flex-grow: 1
    margin-right: $padding-horizontal

  .project-title
    margin: 0
    padding: 0
    border-bottom: solid 2px white

  .project-screenshot
    margin: 0
    border: solid 2px white

  .project-links
    .button
      margin-right: $padding-horizontal

@media (max-width: 720px)
  .project
    flex-direction: column !important

    .project-info, &:nth-child(even) .project-info
      margin: 0

    .project-description, .project-links
      padding: 0 $padding-horizontal

    .project-screenshot
      margin: $padding-horizontal $padding-horizontal 0
      max-width: 320px
